.im1{
    box-shadow: 2px 2px 5px gray;
}
 .im3{
    box-shadow: 2px 2px 5px gray;
 }
 .im2{
    box-shadow: 2px 2px 5px gray;
 }
 .im4{
    box-shadow: 2px 2px 10px gray;
 }
 ul{
     list-style: none;
 }
